---
---
{%- assign page_language = page.collection | default: site.language_default | default: 'uk-UA' -%}
<!DOCTYPE html>
<html lang="{{ page_language }}">
  {%- include head.html -%}
  <body>
    <div class="background-header"></div>
    <div class="body-outer">
      <div class="body-middle">
        <div class="body-content">
          {%- include header.html -%}
          <main class="page-content" aria-label="Content">
            <div class="wrapper">
              {{ content }}
            </div>
          </main>
          {%- include footer.html -%}
        </div>
      </div>
    </div>
    <div class="background-footer"></div>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
