---
layout: base
---
{%- assign page_language = page.collection | default: site.language_default -%}
{%- assign languages = site.collections | where_exp: "item", "item.label != 'posts' and item.label != 'drafts'" | sort: "lang_sort_order" | reverse -%}
{%- assign unique_post_names = site.documents | where_exp: "item", "item.layout == 'post'" | map: "name" | uniq -%}
<div class="home">
  {{ content }}

  {%- comment -%}Render list of posts{%- endcomment -%}
  {% if site.paginate %}
    {% assign posts_not_implemented = paginator.posts | where_exp: "item", "item.layout == 'post' " %}
  {% endif %}
  {%- if unique_post_names.size > 0 -%}
    {%- assign posts = "" | split: ',' -%}
    {%- for unique_post_name in unique_post_names -%}
      {%- assign post = site[page_language] | where_exp: "item", "item.layout == 'post' and item.name == unique_post_name" | first -%}
      {%- if post -%}
        {%- assign posts = posts | push: post -%}
      {%- else -%}
        {%- assign lang_posts = "" | split: ',' -%}
        {%- for language in languages -%}
          {%- assign translated_page = site.documents | where_exp: "item", "item.layout == 'post' and item.name == unique_post_name" | where: "collection", language.label | first -%}
          {%- if translated_page %}
            {% assign lang_posts = lang_posts | push: translated_page %}
          {%- endif -%}
        {%- endfor -%}
        {%- assign post = lang_posts | first -%}
        {%- assign posts = posts | push: post -%}
      {%- endif -%}
    {%- endfor -%}
    {% assign posts = posts | sort: "date" | reverse %}
    <ul class="post-list">
      {%- assign date_format = site.anurina.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- else -%}
  <p>No any posts yet</p>
  {%- endif -%}
</div>
